CreditBrokerWCF/CreditBroker/Connected Services/AuthenticationServiceRefrence/AuthenticationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ssv-main.cr24.ir:8123/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" />
  <xs:import schemaLocation="http://ssv-main.cr24.ir:8123/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UserLogInWithPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogInWithPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserLogInWithPassResult" nillable="true" type="q1:LogInResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUnlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUnlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserUnlockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserStatusResult" type="q2:UserStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserActivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserActivateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDeActivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDeActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserDeActivateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserResetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserChangePasswordResult" type="q3:PasswordChaneResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="user" nillable="true" type="q4:MainSecurityUser" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserUpdateDataResult" type="q5:UpdateUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGenerateNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="user" nillable="true" type="q6:MainSecurityUser" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGenerateNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserGenerateNewResult" type="q7:GenerateUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationGetFullList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationGetFullListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="ApplicationGetFullListResult" nillable="true" type="q8:ArrayOfMainSecurityApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationGetAppListOfRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationGetAppListOfRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="ApplicationGetAppListOfRoleResult" nillable="true" type="q9:ArrayOfMainSecurityApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationGetAppListOfRoleOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationGetAppListOfRoleOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="ApplicationGetAppListOfRoleOfUserResult" nillable="true" type="q10:ArrayOfMainSecurityApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationGetAppListOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationGetAppListOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="ApplicationGetAppListOfUserResult" nillable="true" type="q11:ArrayOfMainSecurityApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationAddNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="app" nillable="true" type="q12:MainSecurityApplication" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationAddNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationAddNewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserGetDataResult" nillable="true" type="q13:MainSecurityUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetFullList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetFullListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserGetFullListResult" nillable="true" type="q14:ArrayOfMainSecurityUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetListOfApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetListOfApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserGetListOfApplicationResult" nillable="true" type="q15:ArrayOfMainSecurityUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetListOfAppRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetListOfAppRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserGetListOfAppRoleResult" nillable="true" type="q16:ArrayOfMainSecurityUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetListOfApplicationAnyMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appStartName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetListOfApplicationAnyModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="UserGetListOfApplicationAnyModeResult" nillable="true" type="q17:ArrayOfMainSecurityUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetUserActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetUserActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="AcGetUserActionsResult" nillable="true" type="q18:ArrayOfMainSecurityAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="AcGetUserRolesResult" nillable="true" type="q19:ArrayOfMainSecurityRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetAllRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="AcGetAllRolesResult" nillable="true" type="q20:ArrayOfMainSecurityRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetAllActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetAllActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="AcGetAllActionsResult" nillable="true" type="q21:ArrayOfMainSecurityAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetActionsOfRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetActionsOfRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="AcGetActionsOfRoleResult" nillable="true" type="q22:ArrayOfMainSecurityAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetUserActionsOfRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcGetUserActionsOfRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="AcGetUserActionsOfRoleResult" nillable="true" type="q23:ArrayOfMainSecurityAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcIsUserInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcIsUserInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcIsUserInRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcIsUserHaveAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcIsUserHaveActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcIsUserHaveActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcRoleExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcRoleExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcRoleExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArAddRolesToUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userNames" nillable="true" type="q24:ArrayOfstring" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roleNames" nillable="true" type="q25:ArrayOfstring" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArAddRolesToUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArAddActionsToRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="actionNames" nillable="true" type="q26:ArrayOfstring" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArAddActionsToRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArCreateAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="action" nillable="true" type="q27:MainSecurityAction" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArCreateActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArCreateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="role" nillable="true" type="q28:MainSecurityRole" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArCreateRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArDeleteAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArDeleteActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArDeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArDeleteRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArRemoveRolesFromUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roleNames" nillable="true" type="q29:ArrayOfstring" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArRemoveRolesFromUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArRemoveActionsFromRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="actionNames" nillable="true" type="q30:ArrayOfstring" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArRemoveActionsFromRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogGetFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element minOccurs="0" name="autKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogGetFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="LogGetFullResult" nillable="true" type="q31:ArrayOfLogData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreeGetUserMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="urlContent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreeGetUserMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="TreeGetUserMenuResult" nillable="true" type="q32:ArrayOfTreeMenuModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreeGetUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="treeUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="urlContent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreeGetUserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ESS.Authentication.DAL.Model" minOccurs="0" name="TreeGetUserStatusResult" nillable="true" type="q33:TreeMenuStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreeClearMenuCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreeClearMenuCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="versionKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionConfirmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>