CreditBrokerWCF/CreditBroker/Connected Services/RecordsServiceRef/RecordsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecordsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ssv-cr.cr24.ir:8010/RecordsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ssv-cr.cr24.ir:8010/RecordsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ssv-cr.cr24.ir:8010/RecordsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ICBS.RecordsCS.DAL.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecordsService_GetRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecords" />
  </wsdl:message>
  <wsdl:message name="IRecordsService_GetRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordsService_AddHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHistory" />
  </wsdl:message>
  <wsdl:portType name="IRecordsService">
    <wsdl:operation name="GetRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordsService/GetRecords" message="tns:IRecordsService_GetRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordsService/GetRecordsResponse" message="tns:IRecordsService_GetRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordsService/AddHistory" message="tns:IRecordsService_AddHistory_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecordsService" type="tns:IRecordsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecords">
      <soap:operation soapAction="http://tempuri.org/IRecordsService/GetRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHistory">
      <soap:operation soapAction="http://tempuri.org/IRecordsService/AddHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecordsService">
    <wsdl:port name="BasicHttpBinding_IRecordsService" binding="tns:BasicHttpBinding_IRecordsService">
      <soap:address location="http://ssv-cr.cr24.ir:8010/RecordsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>