CreditBrokerWCF/CreditBroker/Connected Services/RecordsServiceRef/RecordsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ICBS.RecordsCS.DAL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ICBS.RecordsCS.DAL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RecordsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomersVarietyCount" type="xs:int" />
      <xs:element minOccurs="0" name="LastCsStatusIsOk" type="xs:boolean" />
      <xs:element minOccurs="0" name="NotOkCsCountInSixMonths" type="xs:int" />
      <xs:element minOccurs="0" name="NotOkCsCountOlderThanSixMonths" type="xs:int" />
      <xs:element minOccurs="0" name="OkCsCountInSixMonths" type="xs:int" />
      <xs:element minOccurs="0" name="OkCsCountOlderThanSixMonths" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordsModel" nillable="true" type="tns:RecordsModel" />
</xs:schema>