CreditBrokerMvc/CreditBrokerMvc/Connected Services/ServiceReference1/BrokerServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62662/BrokerServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CreditBroker.Helper" />
  <xs:import schemaLocation="http://localhost:62662/BrokerServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CreditBrokerWCF.Models" />
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CreditBroker.Helper" minOccurs="0" name="GetUserDataResult" nillable="true" type="q1:CalcHelper.UserDataCr24SvcModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Credit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CreditBrokerWCF.Models" minOccurs="0" name="value" nillable="true" type="q2:RequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CreditBrokerWCF.Models" minOccurs="0" name="CreditResult" nillable="true" type="q3:ResultModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCreditToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyNationalCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCreditTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CreditBrokerWCF.Models" minOccurs="0" name="CheckCreditTodayResult" nillable="true" type="q4:ResultModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>