CreditBrokerMvc/CreditBrokerMvc/Connected Services/ServiceReference1/BrokerServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CreditBroker.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CreditBroker.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62662/BrokerServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CalcHelper.UserDataCr24SvcModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="UserFaFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalcHelper.UserDataCr24SvcModel" nillable="true" type="tns:CalcHelper.UserDataCr24SvcModel" />
</xs:schema>