CreditBrokerMvc/CreditBrokerMvc/Connected Services/ServiceReference1/BrokerServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CreditBrokerWCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CreditBrokerWCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrokerPerformanceVariables" nillable="true" type="tns:BrokerPerformanceVariables" />
      <xs:element minOccurs="0" name="BusinessVaribales" nillable="true" type="tns:BusinessVaribales" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCompanyAndManager" nillable="true" type="tns:CreditCompanyAndManager" />
      <xs:element minOccurs="0" name="FinancialRatio" nillable="true" type="tns:FinancialRatio" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestModel" nillable="true" type="tns:RequestModel" />
  <xs:complexType name="BrokerPerformanceVariables">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountOfValueAtRisk" type="xs:long" />
      <xs:element minOccurs="0" name="BrokerRank" type="xs:short" />
      <xs:element minOccurs="0" name="EmtiazCommitteePayeshRisk" type="xs:short" />
      <xs:element minOccurs="0" name="LastYearIncomeReported" type="xs:long" />
      <xs:element minOccurs="0" name="MojavezMoamelatKala" type="xs:boolean" />
      <xs:element minOccurs="0" name="MojavezSabadGardani" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberOfPersonnel" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfbranch" type="xs:int" />
      <xs:element minOccurs="0" name="PreviousLastYearIncomeReported" type="xs:long" />
      <xs:element minOccurs="0" name="SarmayehSabti" type="xs:long" />
      <xs:element minOccurs="0" name="SumOfFacilityToCustomer" type="xs:long" />
      <xs:element minOccurs="0" name="SumOfReceiveFacility" type="xs:long" />
      <xs:element minOccurs="0" name="TarkibSahamdaran" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerPerformanceVariables" nillable="true" type="tns:BrokerPerformanceVariables" />
  <xs:complexType name="BusinessVaribales">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyActivityTime" type="xs:short" />
      <xs:element minOccurs="0" name="EducationLevelOfManager" type="xs:short" />
      <xs:element minOccurs="0" name="ExperinceOfManager" type="xs:short" />
      <xs:element minOccurs="0" name="OwnerShipOfLocation" type="xs:short" />
      <xs:element minOccurs="0" name="RelatedEducationOfManager" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessVaribales" nillable="true" type="tns:BusinessVaribales" />
  <xs:complexType name="CreditCompanyAndManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerNationalCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerNationalCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerNationalCode3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCompanyAndManager" nillable="true" type="tns:CreditCompanyAndManager" />
  <xs:complexType name="FinancialRatio">
    <xs:sequence>
      <xs:element minOccurs="0" name="EzharHesabres" type="xs:short" />
      <xs:element minOccurs="0" name="FinancialCost" type="xs:long" />
      <xs:element minOccurs="0" name="HoghogheSahebanSaham" type="xs:long" />
      <xs:element minOccurs="0" name="NetProfit" type="xs:int" />
      <xs:element minOccurs="0" name="SumDaraei" type="xs:long" />
      <xs:element minOccurs="0" name="SumDaramadAmaliaty" type="xs:long" />
      <xs:element minOccurs="0" name="TotalDebt" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialRatio" nillable="true" type="tns:FinancialRatio" />
  <xs:complexType name="ResultModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditBrokerModelList" nillable="true" type="tns:ArrayOfCreditBrokerModel" />
      <xs:element minOccurs="0" name="IsServiceOk" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultModel" nillable="true" type="tns:ResultModel" />
  <xs:complexType name="ArrayOfCreditBrokerModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditBrokerModel" nillable="true" type="tns:CreditBrokerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditBrokerModel" nillable="true" type="tns:ArrayOfCreditBrokerModel" />
  <xs:complexType name="CreditBrokerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SumScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statuses" nillable="true" type="tns:ArrayOfStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditBrokerModel" nillable="true" type="tns:CreditBrokerModel" />
  <xs:complexType name="ArrayOfStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatus" nillable="true" type="tns:ArrayOfStatus" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>